body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  width: 500px;
}

canvas {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: block;
}